<div class="col-xs-12 col-md-6">
<div class="prod-info-main prod-wrap clearfix">
    <div class="row">
        <div class="col-md-5 col-sm-12 col-xs-12">
    	    <div class="product-image"> 
    		    <img src="{{imageUrl}}" class="img-responsive" style="margin: auto;" /> 
    		    {% if quantity <= 10 %}
                  <span class="tag2 hot">
    			        HOT
    			</span> 
                {% endif %}
    		</div>
    	</div>
    	<div class="col-md-7 col-sm-12 col-xs-12">
    	    <div class="product-deatil">
    		    <h5 class="name">
    			    <a href="#">
    				    {{code}}/{{name}}
    				</a>
    				<a href="#">
    				    <span>{{category}}</span>
    				</a>
    			</h5>
    			<p class="price-container">
    			    <span>${{salePrice}}</span>
    			</p>
    			<p class="price-container">
    			    <span>{{quantity}} Units</span>
    			</p>
    			<span class="tag1"></span> 
    		</div>
    		<div class="description">
    		    {% if contentDescription != "false" %}
                    <p>{{contentDescription}}</p>  
                {% else %}
                    <p>No description available</p>
                {% endif %}
    		</div>
    		<div class="product-info smart-form">
    			<div class="row">
    				<div class="col-md-12"> 
    				    {% if quantity > 0 %}
    					<a href="javascript:void(0);" class="btn btn-danger">Add to cart</a>
    					{% endif%}
                        <a href="javascript:void(0);" class="btn btn-info">More info</a>
    				</div>
    				<div class="col-md-12">
    					<div class="rating">Rating:
    						<label for="stars-rating-5"><i class="fa fa-star text-danger"></i></label>
    						<label for="stars-rating-4"><i class="fa fa-star text-danger"></i></label>
    						<label for="stars-rating-3"><i class="fa fa-star text-danger"></i></label>
    						<label for="stars-rating-2"><i class="fa fa-star text-warning"></i></label>
    						<label for="stars-rating-1"><i class="fa fa-star text-warning"></i></label>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
</div>
</div>