.chromeCastVisualizer {
    background-color: transparent;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.chromeCastVisualizer:hover {
    background-image: url('./images/icon-chromecast.svg');
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: center; 
    background-size: 80% 80%;
    background-color: black;
    opacity: 0.6;
    -webkit-transition: all 0.2s ease-in-out;
}
