<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- To view the API's exposed by this service see https://qa.dnnapi.com/content/swagger -->
    <add key="StructuredContent.Api" value="https://qa.dnnapi.com/content" />
    <add key="StructuredContent.Token" value="f9392b06251d5c9e21f5294770a9285e" />
  </appSettings>
</configuration>