<div>
  <header>
    <h2>Job List</h2>
    <div ng-click="togglePanel()">{{buttonText}}</div>
  </header>
  <div ng-class="{'form-pane ': !showForm, 'form-pane show': showForm}">
    <form ng-submit="onSubmit()">
      <input type="text" placeholder="Job Name" ng-model="formData.jobTitle">
      <textarea  placeholder="Description"  ng-model="formData.description"></textarea>
      <button class="button button-positive" type="submit">
         Add
      </button>
    </form>

  </div>
  <job-item ng-repeat="job in jobList">
    <h3>{{job.details.jobTitle}}
      <div class="remove" ng-click="onRemove(job)">Remove</div>
    </h3>
    <job-description ng-bind-html="toTrustedHTML(job.details.description)"></job-description>
  </job-item>
</div>